<html>

<head>
  <style>
  </style>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ReactChat </title>
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <!-- Custom icon font-->
  <link rel="stylesheet" href="css/fontastic.css">
  <!-- Google fonts - Open Sans-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <!-- Fancybox-->
  <link rel="stylesheet" href="vendor/@fancyapps/fancybox/jquery.fancybox.min.css">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="css/custom.css">
 <!-- Bootstrap core CSS -->
 <link href="md/css/bootstrap.min.css" rel="stylesheet">
 <!-- Material Design Bootstrap -->
 <link href="md/css/mdb.min.css" rel="stylesheet">
  <!-- Favicon-->


  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
    rel="stylesheet">
</head>
<style>
        #messages ul.error {
          list-style: none;
          color: #a94442;
          background-color:#f2dede;
          border-color:#ebccd1;
          padding: 15px;
          margin-bottom:20px;
          border: 1px solid transparent;
          border-radius: 4px;
        }
        #messages ul.success {
          list-style: none;
          color: #54c922;
          background-color:#dfeed9;
          border-color:#d3e5d1;
          padding: 15px;
          margin-bottom:20px;
          border: 1px solid transparent;
          border-radius: 4px;
        }


        
        </style>

<body>
   <header class="header">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light  scrolling-navbar">
			<div class="container">
				<a class="navbar-brand waves-effect" href="index.html">
					<strong>ReactChat</strong>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<!--<span class="navbar-toggler-icon"></span>-->
					<i class="fa fa-navicon fa-lg"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">

					</ul>
					<ul class="navbar-nav nav-flex-icons">
						<li class="nav-item">
							<a href="/users/register" class="btn btn-outline-white waves-effect waves-light"">
								<i class="fa fa-user"></i>
								<span id="userone">
									Signup</span>
							</a>
						</li>
						<li></li>
						<li id="usertwo" class="nav-item">
							<a href="/users/login" class="btn btn-outline-white waves-effect waves-light"">
								<i class="fa fa-key"></i> Login
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

  

  <div class="container">